/* 
img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
*/

.animated-bg-700 {
  background-image: linear-gradient(
    to right,
    #475569 0%,
    #334155 10%,
    #334155 20%,
    #475569 100%
  );
  background-size: 200% 100%;
}
.animated-bg-800 {
  background-image: linear-gradient(
    to right,
    #334155 0%,
    #1e293b 10%,
    #1e293b 20%,
    #334155 100%
  );
  background-size: 200% 100%;
}
